/* INSCRIPTION */
@import
	url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;
	height: 8vh;
	margin-bottom: 20px;
	flex-direction: column;
}

header h1 {
	color: black;
}

header ul {
	display: flex;
}

header li {
	margin: 5px;
	color: blue;
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
}

.form__container {
	width: 309px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input__container {
	margin: 8px;
	display: flex;
	justify-content: space-between;
}

.buttons__container {
	margin: 8px;
	display: flex;
	justify-content: space-between;
}

.form__container button {
	height: 50px;
	width: 120px;
}

/*Page login */
.success {
	text-align: center;
	color: green;
}

.loginError {
	text-align: center;
	color: red;
}

.loginoption__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.connection__container {
	display: flex;
}

.loginButtons__container {
	margin: 8px;
	display: flex;
	justify-content: center;
}

/* page EDITER profil */
.profilButtons__container {
	margin: 8px;
	display: flex;
	justify-content: space-around;
}

/*PAGE MON PROFIL*/
.profile__container {
	width: 339px;
}

.profile__container h1 {
	margin-bottom: 25px;
	text-align: center;
}

.profile__container li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.profile__container .fieldname {
	font-weight: 600;
}

.profile__container button {
	width: 80px;
	height: 40px;
}

.profilButtons__container button {
	width: 80px;
}

.profile__container .updateBtn {
	text-align: center;
}

.updateBtn__container {
	width: 100%;
	display: flex;
	justify-content: center;
}

/*PAGE ACCUEIL*/
.searchBtn {
	width: 100% !important;
}

.searchForm input {
	margin-top: 5px;
	margin-bottom: 5px;
}

.filterDiv {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

#categories {
	width: 60%
}

.radiomenu {
	
}

.checkboxmenu {
	margin: 0% 15%;
	width: 70%
}

.checkboxmenu input {
	margin: 5px 0px;
}