/* INSCRIPTION */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Roboto', sans-serif;
}

form {
	display: flex;
	flex-direction: column;
}

.form__container {
	width: 309px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input__container{
	margin: 8px;
	display: flex;
	justify-content: space-between;
}

.buttons__container{
	margin: 8px;
	display: flex;
	justify-content: space-between;

}

.form__container button{
	height: 50px;
	width: 120px;
}

/*Page login */
.loginoption__container{

	display: flex;
    flex-direction: column;
    justify-content: center;
}


.connection__container{
	
    display: flex;
}


.loginButtons__container{
	
		margin: 8px;
	display: flex;
	justify-content: center;
	
}




/* page profil */


.profilButtons__container{
	
			margin: 8px;
	display: flex;
	justify-content: space-around;
	
	
}

.profilButtons__container button{
	width: 80px;
	
}

